@charset "UTF-8";
@font-face {
  font-family: "Abhaya Libre";
  src: url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-regular.woff") format("woff"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Abhaya Libre Bold";
  src: url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-800.woff2") format("woff2"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-800.woff") format("woff"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-800.ttf") format("ttf");
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: url("../fonts/alegreya-sans-sc-v9-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/alegreya-sans-sc-v9-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/alegreya-sans-sc-v9-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Allerta Stencil";
  src: url("../fonts/allerta-stencil-v10-latin-regular.woff2") format("woff2"), url("../fonts/allerta-stencil-v10-latin-regular.woff") format("woff"), url("../fonts/allerta-stencil-v10-latin-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Hind Madurai";
  src: url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-regular.woff") format("woff"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Hind Madurai Bold";
  src: url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-600.woff2") format("woff2"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-600.woff") format("woff"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-600.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-regular.woff2") format("woff2"), url("../fonts/opensans-all-regular.woff") format("woff"), url("../fonts/opensans-all-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensans-all-700.woff2") format("woff2"), url("../fonts/opensans-all-700.woff") format("woff"), url("../fonts/opensans-all-700.ttf") format("ttf");
}

h2 {
  font-family: "Open Sans Bold";
  font-size: 4.5rem;
}

#launching {
  --launching-height: 80vmin;
  --font-size-factor: 7vmax;
  height: var(--launching-height);
  background: #1F6633;
}

#launching .launching_content {
  color: #FFF;
  text-align: center;
  padding: 0 3vw;
  min-width: 60vw;
}

#launching .launching_content h1,
#launching .launching_content h2 {
  max-width: 60%;
  text-align: start;
}

#launching .launching_content h1 {
  font-family: "Allerta Stencil";
  font-size: var(--font-size-factor);
  text-transform: uppercase;
  white-space: pre-line;
}

#launching .launching_content h2 {
  font-family: "Open Sans Bold";
  width: 100%;
  font-size: calc(var(--font-size-factor) / 2);
  font-weight: 700;
  text-transform: lowercase;
}

#launching img {
  -o-object-fit: cover;
     object-fit: cover;
  right: 0;
  height: var(--launching-height);
  max-width: 40vw;
}

@media (max-width: 992px) {
  #launching {
    --launching-height: 60vmin;
    --font-size-factor: 4.25vmax;
  }
  #launching .launching_content {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
  }
  #launching .launching_content h1,
  #launching .launching_content h2 {
    width: 100%;
  }
  #launching .launching_content h2 {
    font-size: calc(var(--font-size-factor) / 1.5);
  }
}

#welcome {
  height: 75vh;
}

#welcome .welcome_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#welcome .welcome_content h2 {
  font-family: "Open Sans Bold";
  font-size: 4.5rem;
  width: 24.7rem;
  text-align: center;
  border-bottom: 0.2rem solid #1f6c34;
}

#welcome .welcome_content p {
  padding: 3.3rem;
  font-family: "Hind Madurai";
  font-size: 2.25rem;
  text-align: center;
  font-weight: 900;
}

@media (max-width: 992px) {
  #welcome .welcome_content h2 {
    font-size: 3.5rem;
    width: 16rem;
  }
  #welcome .welcome_content p {
    padding: 2rem;
    font-size: 2rem;
    width: 80vw;
  }
}

@media (max-width: 768px) {
  #welcome {
    height: 33vh;
  }
  #welcome .welcome_content h2 {
    font-size: 3.5vmax;
    width: 17vmax;
  }
  #welcome .welcome_content p {
    padding: 2vmax;
    font-size: 1.75vmax;
  }
}

#about_us {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 10vmax;
}

#about_us .about_us-left .background_image {
  height: 55vmax;
  margin-top: 2.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#about_us .about_us-right {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

#about_us .about_us-right .upper {
  padding: 0 1.5rem;
}

#about_us .about_us-right .upper h2 {
  height: 5.5rem;
  width: 24rem;
  margin-bottom: 2.3rem;
  border-bottom: 0.2rem solid #1f6c34;
}

#about_us .about_us-right .upper p,
#about_us .about_us-right .upper li {
  font-size: 1.4rem;
  letter-spacing: 0.015em;
  list-style-type: none;
  position: relative;
}

#about_us .about_us-right .upper li::before {
  content: "・";
  position: absolute;
  left: -2rem;
  top: 0.2rem;
  font-size: 2rem;
}

#about_us .about_us-right .lower img {
  position: absolute;
  bottom: 0;
  height: 23vmax;
  max-width: 90%;
}

@media (min-width: 992px) {
  #about_us .about_us-right {
    background-image: none !important;
  }
}

@media (max-width: 992px) {
  #about_us .about_us-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about_us .about_us-right .upper {
    background: rgba(255, 255, 255, 0.71);
    margin: auto 1.5rem;
    padding: 5rem;
  }
  #about_us .about_us-right .upper h2 {
    height: 6.5rem;
    width: 60%;
    white-space: nowrap;
    border-bottom: 0.2rem solid #1f6c34;
  }
}

@media (max-width: 768px) {
  #about_us .about_us-right .upper {
    margin: auto 1.5rem;
    padding: 2.5rem;
  }
  #about_us .about_us-right .upper h2 {
    font-size: 2.5rem;
    height: 3rem;
    width: 50%;
    margin-bottom: 2rem;
    border-bottom: 0.2rem solid #1f6c34;
  }
  #about_us .about_us-right .upper p,
  #about_us .about_us-right .upper li {
    font-size: 1.25rem;
    font-family: Hind Madurai;
    font-weight: 500;
    line-height: 127.1%;
    /* or 15px */
    letter-spacing: 0.015em;
  }
}

@media (max-width: 576px) {
  #about_us .about_us-right .upper {
    margin: 10vmax 1.5vmax;
    padding: 2vmax 5vmax;
  }
  #about_us .about_us-right .upper h2 {
    font-size: 4vmax;
    height: 5.5vmax;
    width: 60%;
    margin-bottom: 1.5rem;
    border-bottom: 0.4vmax solid #1f6c34;
  }
  #about_us .about_us-right .upper p,
  #about_us .about_us-right .upper li {
    font-size: 4vw;
    font-family: Hind Madurai;
    font-weight: 500;
    line-height: 127.1%;
    /* or 15px */
    letter-spacing: 0.015em;
  }
  #about_us .about_us-right .upper li::before {
    left: -1.5rem;
    top: 0.15rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  #about_us {
    padding: 0;
  }
}

#vision {
  padding: 13.3rem 10vmax 0;
}

#vision .upper .upper_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#vision .upper .upper_pic img {
  width: 100%;
  min-width: 45vw;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

#vision .upper .title {
  margin-top: 2vmax;
  width: 100%;
  margin-left: 2rem;
}

#vision .upper .title h2 {
  height: 6.5rem;
  width: 100%;
  text-align: right;
  border-bottom: 0.2rem solid #1f6c34;
}

#vision .lower {
  margin-bottom: 3rem;
}

#vision .lower .lower_pic img {
  width: 100%;
}

#vision .lower .vision_content {
  padding: 4rem;
  min-width: 45vw;
  font-size: 1.25vmax;
  font-family: "Hind Madurai Bold";
  line-height: 127.1%;
  letter-spacing: 0.015em;
}

@media (max-width: 1200px) {
  #vision .upper {
    position: relative;
  }
  #vision .upper img {
    width: 100%;
    height: auto;
  }
  #vision .upper .title {
    position: absolute;
    top: -9rem;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 40%;
    margin: 0;
  }
  #vision .upper .title h2 {
    height: 6.5rem;
    width: 100%;
    text-align: center;
    border-bottom: 0.2rem solid #1f6c34;
  }
}

@media (max-width: 768px) {
  #vision .upper .title {
    top: -8rem;
  }
  #vision .upper .title h2 {
    font-size: 4rem;
    height: 5.5rem;
  }
  #vision .lower {
    margin-bottom: 3rem;
  }
  #vision .lower .vision_content {
    padding: 2rem;
    min-width: 0;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  #vision {
    padding: 5.5rem 0 0;
  }
  #vision .upper .title {
    top: 5vmax;
  }
  #vision .upper .title h2 {
    font-size: 3.25vmax;
    height: 4.75vmax;
  }
  #vision .upper .upper_pic img {
    height: 65%;
  }
  #vision .lower {
    margin-bottom: 3rem;
  }
  #vision .lower .vision_content {
    padding: 1rem;
    min-width: 0;
    font-size: 1rem;
  }
}

#news {
  padding: 5vmax 20vmax 0;
  margin: 0;
  width: 100%;
}

#news h2 {
  font-size: 4.5vmax;
  height: 6.5vmax;
  text-align: center;
  width: 40vmax;
  border-bottom: 0.25vmax solid #1f6c34;
  margin-bottom: 4.5vmax;
}

#news .post {
  padding-bottom: 5vmax;
}

#news .post .post_image {
  width: 100%;
}

#news .post .post_title {
  font-family: "Open Sans Bold";
  font-size: 2.5vmax;
  font-weight: 700;
  padding: 2vmax 1vmax 1.5vmax;
}

#news .post .content_preview {
  font-family: "Open Sans";
  font-size: 1.25vmax;
  padding: 0 .5vmax;
}

#news .post .btn {
  margin: 2vmax 0;
  background-color: #C4C4C4;
  border-radius: 1rem;
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.25vmax;
  line-height: 0.75rem;
  letter-spacing: 0.015em;
  padding: .4vmax 5vmax;
  text-transform: lowercase;
}

@media (max-width: 768px) {
  #news {
    padding: 0 3vmax;
  }
  #news h2 {
    font-size: 3.1vmax;
    height: 4.8vmax;
    text-align: center;
    width: 19vmax;
    border-bottom: 0.4vmax solid #1f6c34;
    margin-bottom: 4.5vmax;
  }
  #news .post .post_title {
    font-size: 2vmax;
    padding: 2vmax 0 1.5vmax;
  }
  #news .post .content_preview {
    font-size: 1.7vmax;
    padding: 0;
  }
}

#technology {
  padding: 0 10vmax;
}

#technology .bg {
  background-repeat: no-repeat !important;
  background-size: cover;
  padding: 5vmax 8vmax;
}

#technology .bg .technology_content {
  background: rgba(255, 255, 255, 0.87);
  padding: 3vmax 5vmax;
}

#technology .bg .technology_content h2 {
  height: 6vmax;
  text-align: center;
  font-size: 3.5vmax;
  width: 23vmax;
  border-bottom: 0.3vmax solid #1f6c34;
  margin-bottom: 2.5vmax;
}

#technology .bg .technology_content p {
  font-family: "Hind Madurai";
  font-size: 1.6vmax;
  line-height: 168.6%;
  text-align: center;
  letter-spacing: 0.055em;
}

@media (max-width: 768px) {
  #technology .bg {
    height: 80vmax;
    position: relative;
    background-position: center bottom !important;
    padding: 0;
  }
  #technology .bg .technology_content {
    position: absolute;
    top: 0;
    background: #FFF;
    width: 100%;
    overflow: hidden;
    min-height: 50vh;
    max-height: 100%;
    padding: 1rem 2rem;
  }
  #technology .bg .technology_content h2 {
    height: 2.5rem;
    width: 12rem;
    margin-bottom: .75rem;
    font-size: 1.5rem;
    line-height: 127.1%;
    letter-spacing: 0.015em;
  }
  #technology .bg .technology_content p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 159.6%;
    letter-spacing: 0.025em;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #technology .bg .technology_content {
    background: rgba(255, 255, 255, 0.87) !important;
  }
}

@media (max-width: 575px) {
  #technology .bg {
    background-size: 100% auto;
  }
  #technology .bg .technology_content {
    padding: 1vmax 5vmax;
  }
  #technology .bg .technology_content p {
    text-align: center;
    font-size: 0.85rem;
  }
}

@media (max-width: 575px) {
  #technology {
    padding: 0;
  }
}

#gallery {
  /* This section has it's own CSS file, here is an extension*/
  padding-top: 3vw;
}

#gallery h2 {
  height: 6vw;
  text-align: center;
  width: 20vw;
  border-bottom: 0.2vw solid #1f6c34;
  margin-bottom: 4.5vw;
  font-size: 4vw;
}

#gallery .btn_more .btn {
  margin-top: 5.9rem;
  margin-bottom: 8.25rem;
  background-color: #C4C4C4;
  border-radius: 1rem;
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 0.75rem;
  letter-spacing: 0.015em;
  width: 13rem;
  height: 1.75rem;
  text-transform: lowercase;
}

@media (orientation: portrait) {
  #gallery {
    padding-top: 3vh;
  }
  #gallery h2 {
    height: 6vh;
    text-align: center;
    width: 20vh;
    border-bottom: 0.2vh solid #1f6c34;
    margin-bottom: 4.5vh;
    font-size: 4vh;
  }
}

#contact {
  padding: 0 10vmax 3vmax;
}

#contact .bg {
  padding: 7vmax 11vmax;
  background-size: cover !important;
}

#contact .bg .contact_content {
  background: rgba(255, 255, 255, 0.79);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .bg .contact_content h2 {
  margin: 3.5vmax 0 2vmax;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 4vmax;
  font-weight: 900;
}

#contact .bg .contact_content .contact_outer {
  width: 90%;
  border-bottom: solid #000 0.2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .bg .contact_content .contact_outer .contact_inner {
  width: 25vmax;
}

#contact .bg .contact_content .contact_outer .contact_inner .svg-container {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  #contact .bg .contact_content .contact_outer .contact_inner .svg-container .svg-content path {
    fill: #7E7B7B;
  }
}

#contact .bg .contact_content .contact_outer .contact_inner p {
  font-family: "Hind Madurai";
  font-weight: 300;
  font-size: 1.6vmax;
  line-height: 126.6%;
  letter-spacing: 0.015em;
  margin: 1.5vmax 0;
  padding-left: 0.7rem;
  font-weight: 900;
}

#contact .bg .contact_content form {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .bg .contact_content form .form_padding {
  width: 60%;
}

#contact .bg .contact_content form .form-group {
  width: 100%;
  margin: 1.5vmax 0;
}

#contact .bg .contact_content form .form-group label {
  font-family: "Open Sans Bold";
  font-size: 1.25vmax;
  font-weight: 900;
  line-height: 127.1%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #7E7B7B;
}

#contact .bg .contact_content form .form-group label[for="question"] {
  width: 100%;
  text-align: center;
}

#contact .bg .contact_content form .form-group .form-control {
  background-color: transparent;
}

#contact .bg .contact_content form .form-group .form-control[name="name"], #contact .bg .contact_content form .form-group .form-control[name="email"] {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #7E7B7B;
}

#contact .bg .contact_content form .form-group textarea {
  height: 8rem;
  resize: none;
  border: 1px solid #7E7B7B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

#contact .bg .contact_content form button {
  font-family: "Open Sans Bold";
  color: #FFF;
  background: #C4C4C4;
  border-radius: 0.375rem;
  padding: .75vmax 5vmax;
  margin: 0 3.5vmax 2vmax;
  font-weight: 700;
  font-size: 1.25vmax;
  line-height: 0.75rem;
  letter-spacing: 0.015em;
  text-transform: lowercase;
}

#contact .bg .social {
  padding: 10rem 0 0 7rem;
}

#contact .bg .social a {
  margin-bottom: 6rem;
}

#contact .bg .social a img {
  height: 2rem;
}

@media (max-width: 991.98px) {
  #contact .bg {
    margin-top: 2.8rem;
    padding: 3rem;
    background: #1F6633 !important;
    color: #FFF;
  }
  #contact .bg .contact_content h2 {
    color: #EDDDB4;
    height: 7rem;
    margin-bottom: 0;
    border-bottom: none;
  }
  #contact .bg .contact_content .col-1 {
    padding-left: 1rem;
  }
  #contact .bg .contact_content p {
    font-size: 1.75rem;
    line-height: 126.6%;
    margin-bottom: 3rem;
  }
  #contact .bg .contact_content form {
    width: 70%;
  }
  #contact .bg .contact_content form .form-group label {
    font-size: 1rem;
    color: #FFF;
  }
  #contact .bg .contact_content form .form-group .form-control {
    background: transparent;
    color: #FFF;
  }
  #contact .bg .contact_content form .form-group .form-control[name="name"], #contact .bg .contact_content form .form-group .form-control[name="email"] {
    border-bottom: 0.2vmax solid #FFF;
  }
  #contact .bg .contact_content form .form-group textarea {
    border: 0.2rem solid #FFF;
  }
  #contact .bg .contact_content form button {
    height: 2.6rem;
    font-size: 2.25rem;
  }
}

@media (max-width: 576px) {
  #contact .bg {
    padding: 2vmax;
  }
  #contact .bg .contact_content {
    background: transparent;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contact .bg .contact_content h2 {
    text-align: start;
    font-size: 2.25vmax;
    height: 100%;
    margin-bottom: .5vmax;
  }
  #contact .bg .contact_content .contact_outer {
    border: none;
  }
  #contact .bg .contact_content .contact_outer .contact_inner {
    width: 100% !important;
  }
  #contact .bg .contact_content .contact_outer .contact_inner .svg-container {
    width: 1rem;
    margin-right: 1vmax;
  }
  #contact .bg .contact_content .contact_outer .contact_inner p {
    padding-left: 0;
    font-size: 1.5vmax;
  }
  #contact .bg .contact_content form {
    width: 60%;
  }
  #contact .bg .contact_content form .form_padding {
    width: 100%;
  }
  #contact .bg .contact_content form .form-group label {
    font-size: 1.5vmax;
    color: #FFF;
    margin: 0;
  }
  #contact .bg .contact_content form .form-group label[for="question"] {
    text-align: start;
    margin-bottom: 1vmax;
  }
  #contact .bg .contact_content form .form-group .form-control {
    margin-bottom: 0;
    font-size: 1.5vmax;
  }
  #contact .bg .contact_content form .form-group textarea {
    height: 8vmax;
    border: 0.2vmax solid #FFF;
  }
  #contact .bg .contact_content form button {
    border-radius: 1rem;
    padding: .5vmax 3.5vmax;
    margin: 0;
    height: 100%;
    font-weight: 700;
    line-height: 100%;
    font-size: 1.25vmax;
  }
}

@media (max-width: 576px) {
  #contact {
    padding: 0;
  }
}

@media (max-width: 992px) {
  footer {
    background-color: #FFF;
  }
  footer .navbar-nav .nav-item .nav-link {
    color: #1F6633;
  }
  footer .navbar-nav .nav-item .nav-link:hover, footer .navbar-nav .nav-item .nav-link:active, footer .navbar-nav .nav-item .nav-link:focus {
    color: #1F6633;
  }
  footer path {
    fill: #1F6633 !important;
  }
}
/*# sourceMappingURL=index.css.map */