@import "./variables";
@import "./fonts";
h2 {
    font-family: "Open Sans Bold";
    font-size: 4.5rem;
}

#launching {
    --launching-height: 80vmin;
    --font-size-factor: 7vmax;
    height: var(--launching-height);
    background: $agro_color-1;
    .launching_content {
        color: $agro_color-white;
        text-align: center;
        padding: 0 3vw;
        min-width: 60vw;
        h1,
        h2 {
            max-width: 60%;
            text-align: start;
        }
        h1 {
            font-family: "Allerta Stencil";
            font-size: var(--font-size-factor);
            text-transform: uppercase;
            white-space: pre-line;
        }
        h2 {
            font-family: "Open Sans Bold";
            width: 100%;
            font-size: calc(var(--font-size-factor) / 2);
            font-weight: 700;
            text-transform: lowercase;
        }
    }
    img {
        object-fit: cover;
        right: 0;
        height: var(--launching-height);
        max-width: 40vw;
    }
    @media (max-width: 992px) {
        --launching-height: 60vmin;
        --font-size-factor: 4.25vmax;
        .launching_content {
            align-items: stretch !important;
            h1,
            h2 {
                width: 100%;
            }
            h2 {
                font-size: calc(var(--font-size-factor) / 1.5);
            }
        }
    }
}

#welcome {
    height: 75vh;
    .welcome_content {
        display: flex;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        h2 {
            font-family: "Open Sans Bold";
            font-size: 4.5rem;
            width: 24.7rem;
            text-align: center;
            border-bottom: 0.2rem solid $agro_color-2;
        }
        p {
            padding: 3.3rem;
            font-family: "Hind Madurai";
            font-size: 2.25rem;
            text-align: center;
            font-weight: 900;
        }
    }
    @media (max-width: 992px) {
        .welcome_content {
            h2 {
                font-size: 3.5rem;
                width: 16rem;
            }
            p {
                padding: 2rem;
                font-size: 2rem;
                width: 80vw;
            }
        }
    }
    @media (max-width: 768px) {
        height: 33vh;
        .welcome_content {
            h2 {
                font-size: 3.5vmax;
                width: 17vmax;
            }
            p {
                padding: 2vmax;
                font-size: 1.75vmax;
                // width: 80vw;
            }
        }
    }
}

#about_us {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 10vmax;
    .about_us-left {
        .background_image {
            height: 55vmax;
            margin-top: 2.5rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .about_us-right {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        .upper {
            padding: 0 1.5rem;
            h2 {
                height: 5.5rem;
                width: 24rem;
                margin-bottom: 2.3rem;
                border-bottom: 0.2rem solid $agro_color-2;
            }
            p,
            li {
                font-size: 1.4rem;
                letter-spacing: 0.015em;
                list-style-type: none;
                position: relative;
            }
            li::before {
                content: "・";
                position: absolute;
                left: -2rem;
                top: 0.2rem;
                font-size: 2rem;
            }
        }
        .lower {
            img {
                position: absolute;
                bottom: 0;
                height: 23vmax;
                max-width: 90%;
            }
        }
        @media (min-width: 992px) {
            background-image: none !important;
        }
        @media (max-width: 992px) {
            display: flex;
            justify-content: center;
            .upper {
                background: rgba($agro_color-white, 0.71);
                margin: auto 1.5rem;
                padding: 5rem;
                h2 {
                    height: 6.5rem;
                    width: 60%;
                    white-space: nowrap;
                    border-bottom: 0.2rem solid $agro_color-2;
                }
            }
        }
        @media (max-width: 768px) {
            .upper {
                margin: auto 1.5rem;
                padding: 2.5rem;
                h2 {
                    font-size: 2.5rem;
                    height: 3rem;
                    width: 50%;
                    margin-bottom: 2rem;
                    border-bottom: 0.2rem solid $agro_color-2;
                }
                p,
                li {
                    font-size: 1.25rem;
                    font-family: Hind Madurai;
                    font-weight: 500;
                    line-height: 127.1%;
                    /* or 15px */
                    letter-spacing: 0.015em;
                }
            }
        }
        @media (max-width: 576px) {
            .upper {
                margin: 10vmax 1.5vmax;
                padding: 2vmax 5vmax;
                h2 {
                    font-size: 4vmax;
                    height: 5.5vmax;
                    width: 60%;
                    margin-bottom: 1.5rem;
                    border-bottom: 0.4vmax solid $agro_color-2;
                }
                p,
                li {
                    font-size: 4vw;
                    font-family: Hind Madurai;
                    font-weight: 500;
                    line-height: 127.1%;
                    /* or 15px */
                    letter-spacing: 0.015em;
                }
                li::before {
                    left: -1.5rem;
                    top: 0.15rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
    @media (max-width: 768px) {
        padding: 0;
    }
}

#vision {
    padding: 13.3rem 10vmax 0;
    .upper {
        .upper_pic {
            display: flex;
            flex-direction: column-reverse;
            img {
                width: 100%;
                min-width: 45vw;
                height: 90%;
                object-fit: cover;
            }
        }
        .title {
            margin-top: 2vmax;
            width: 100%;
            margin-left: 2rem;
            h2 {
                height: 6.5rem;
                width: 100%;
                text-align: right;
                border-bottom: 0.2rem solid $agro_color-2;
            }
        }
    }
    .lower {
        margin-bottom: 3rem;
        .lower_pic {
            img {
                width: 100%;
            }
        }
        .vision_content {
            padding: 4rem;
            min-width: 45vw;
            font-size: 1.25vmax;
            font-family: "Hind Madurai Bold";
            line-height: 127.1%;
            letter-spacing: 0.015em;
        }
    }
    @media (max-width: 1200px) {
        .upper {
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
            .title {
                position: absolute;
                top: -9rem;
                left: 50%;
                transform: translate(-50%);
                width: 40%;
                margin: 0;
                h2 {
                    height: 6.5rem;
                    width: 100%;
                    text-align: center;
                    border-bottom: 0.2rem solid $agro_color-2;
                }
            }
        }
    }
    @media (max-width: 768px) {
        .upper {
            .title {
                top: -8rem;
                h2 {
                    font-size: 4rem;
                    height: 5.5rem;
                }
            }
        }
        .lower {
            margin-bottom: 3rem;
            .vision_content {
                padding: 2rem;
                min-width: 0;
                font-size: 1.5rem;
            }
        }
    }
    @media (max-width: 576px) {
        padding: 5.5rem 0 0;
        .upper {
            .title {
                top: 5vmax;
                h2 {
                    font-size: 3.25vmax;
                    height: 4.75vmax;
                }
            }
            .upper_pic {
                img {
                    height: 65%;
                }
            }
        }
        .lower {
            margin-bottom: 3rem;
            .vision_content {
                padding: 1rem;
                min-width: 0;
                font-size: 1rem;
            }
        }
    }
}

#news {
    padding: 5vmax 20vmax 0;
    margin: 0;
    width: 100%;
    h2 {
        font-size: 4.5vmax;
        height: 6.5vmax;
        text-align: center;
        width: 40vmax;
        border-bottom: 0.25vmax solid $agro_color-2;
        margin-bottom: 4.5vmax;
    }
    .post {
        padding-bottom: 5vmax;
        .post_image {
            width: 100%;
        }
        .post_title {
            font-family: "Open Sans Bold";
            font-size: 2.5vmax;
            font-weight: 700;
            padding: 2vmax 1vmax 1.5vmax;
        }
        .content_preview {
            font-family: "Open Sans";
            font-size: 1.25vmax;
            padding: 0 .5vmax;
        }
        .btn {
            margin: 2vmax 0;
            background-color: $agro_color-gray-2;
            border-radius: 1rem;
            color: $agro_color-white;
            font-family: "Open Sans";
            font-weight: 600;
            font-size: 1.25vmax;
            line-height: 0.75rem;
            letter-spacing: 0.015em;
            padding: .4vmax 5vmax;
            text-transform: lowercase;
        }
    }
    @media (max-width: 768px) {
        padding: 0 3vmax;
        h2 {
            font-size: 3.1vmax;
            height: 4.8vmax;
            text-align: center;
            width: 19vmax;
            border-bottom: 0.4vmax solid $agro_color-2;
            margin-bottom: 4.5vmax;
        }
        .post {
            .post_title {
                font-size: 2vmax;
                padding: 2vmax 0 1.5vmax;
            }
            .content_preview {
                font-size: 1.7vmax;
                padding: 0;
            }
        }
    }
}

#technology {
    padding: 0 10vmax;
    .bg {
        background-repeat: no-repeat !important;
        background-size: cover;
        padding: 5vmax 8vmax;
        .technology_content {
            background: rgba($agro_color-white, 0.87);
            padding: 3vmax 5vmax;
            h2 {
                height: 6vmax;
                text-align: center;
                font-size: 3.5vmax;
                width: 23vmax;
                border-bottom: 0.3vmax solid $agro_color-2;
                margin-bottom: 2.5vmax;
            }
            p {
                font-family: "Hind Madurai";
                font-size: 1.6vmax;
                line-height: 168.6%;
                text-align: center;
                letter-spacing: 0.055em;
            }
        }
        @media(max-width: 768px) {
            height: 80vmax;
            position: relative;
            background-position: center bottom!important;
            padding: 0;
            .technology_content {
                position: absolute;
                top: 0;
                background: $agro_color-white;
                width: 100%;
                overflow: hidden;
                min-height: 50vh;
                max-height: 100%;
                padding: 1rem 2rem;
                h2 {
                    height: 2.5rem;
                    width: 12rem;
                    margin-bottom: .75rem;
                    font-size: 1.5rem;
                    line-height: 127.1%;
                    letter-spacing: 0.015em;
                }
                p {
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 159.6%;
                    letter-spacing: 0.025em;
                }
            }
        }
        @media(max-width: 768px) and (orientation:landscape) {
            .technology_content {
                background: rgba($agro_color-white, 0.87)!important;
            }
        }
        @media (max-width: 575px) {
            background-size: 100% auto;
            .technology_content {
                padding: 1vmax 5vmax;
                p {
                    text-align: center;
                    font-size: 0.85rem;
                }
            }
        }
    }
    @media (max-width: 575px) {
        padding: 0;
    }
}

#gallery {
    /* This section has it's own CSS file, here is an extension*/
    padding-top: 3vw;
    h2 {
        height: 6vw;
        text-align: center;
        width: 20vw;
        border-bottom: 0.2vw solid $agro_color-2;
        margin-bottom: 4.5vw;
        font-size: 4vw;
    }
    .btn_more {
        .btn {
            margin-top: 5.9rem;
            margin-bottom: 8.25rem;
            background-color: $agro_color-gray-2;
            border-radius: 1rem;
            color: $agro_color-white;
            font-family: "Open Sans";
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 0.75rem;
            letter-spacing: 0.015em;
            width: 13rem;
            height: 1.75rem;
            text-transform: lowercase;
        }
    }
    @media (orientation: portrait) {
        padding-top: 3vh;
        h2 {
            height: 6vh;
            text-align: center;
            width: 20vh;
            border-bottom: 0.2vh solid $agro_color-2;
            margin-bottom: 4.5vh;
            font-size: 4vh;
        }
    }
}

#contact {
    padding: 0 10vmax 3vmax;
    .bg {
        padding: 7vmax 11vmax;
        background-size: cover !important;
        .contact_content {
            background: rgba($agro_color-white, 0.79);
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                margin: 3.5vmax 0 2vmax;
                width: 100%;
                text-align: center;
                white-space: nowrap;
                font-size: 4vmax;
                font-weight: 900;
            }
            .contact_outer {
                width: 90%;
                border-bottom: solid $agro_color-black .2vmax;
                display: flex;
                justify-content: center;
                .contact_inner {
                    width: 25vmax;
                    .svg-container {
                        width: 2rem;
                        display: flex;
                        align-items: center;
                        .svg-content {
                            @media (min-width: 992px) {
                                path {
                                    fill: $agro_color-gray-1;
                                }
                            }
                        }
                    }
                    p {
                        font-family: "Hind Madurai";
                        font-weight: 300;
                        font-size: 1.6vmax;
                        line-height: 126.6%;
                        letter-spacing: 0.015em;
                        margin: 1.5vmax 0;
                        padding-left: 0.7rem;
                        font-weight: 900;
                    }
                }
            }
            form {
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .form_padding {
                    width: 60%;
                }
                .form-group {
                    width: 100%;
                    margin: 1.5vmax 0;
                    label {
                        font-family: "Open Sans Bold";
                        font-size: 1.25vmax;
                        font-weight: 900;
                        line-height: 127.1%;
                        letter-spacing: 0.015em;
                        text-transform: uppercase;
                        color: $agro_color-gray-1;
                        &[for="question"] {
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .form-control {
                        background-color: transparent;
                        &[name="name"],
                        &[name="email"] {
                            border: none;
                            border-radius: 0;
                            border-bottom: 1px solid $agro_color-gray-1;
                        }
                    }
                    textarea {
                        height: 8rem;
                        resize: none;
                        border: 1px solid $agro_color-gray-1;
                        box-sizing: border-box;
                        border-radius: 12px;
                    }
                }
                button {
                    font-family: "Open Sans Bold";
                    color: $agro_color-white;
                    background: $agro_color-gray-2;
                    border-radius: 0.375rem;
                    padding: .75vmax 5vmax;
                    margin: 0 3.5vmax 2vmax;
                    font-weight: 700;
                    font-size: 1.25vmax;
                    line-height: 0.75rem;
                    letter-spacing: 0.015em;
                    text-transform: lowercase;
                }
            }
        }
        .social {
            padding: 10rem 0 0 7rem;
            a {
                margin-bottom: 6rem;
                img {
                    height: 2rem;
                }
            }
        }
        @media (max-width: 991.98px) {
            margin-top: 2.8rem;
            padding: 3rem;
            background: $agro_color-1 !important;
            color: $agro_color-white;
            .contact_content {
                h2 {
                    color: $agro_color-3;
                    height: 7rem;
                    margin-bottom: 0;
                    border-bottom: none;
                }
                .col-1 {
                    padding-left: 1rem;
                }
                p {
                    font-size: 1.75rem;
                    line-height: 126.6%;
                    margin-bottom: 3rem;
                }
                form {
                    width: 70%;
                    .form-group {
                        label {
                            font-size: 1rem;
                            color: $agro_color-white;
                        }
                        .form-control {
                            background: transparent;
                            color: $agro_color-white;
                            &[name="name"],
                            &[name="email"] {
                                border-bottom: 0.2vmax solid $agro_color-white;
                            }
                        }
                        textarea {
                            border: 0.2rem solid $agro_color-white;
                        }
                    }
                    button {
                        height: 2.6rem;
                        font-size: 2.25rem;
                    }
                }
            }
        }
        @media (max-width: 576px) {
            padding: 2vmax;
            .contact_content {
                background: transparent;
                align-items: flex-start;
                h2 {
                    text-align: start;
                    font-size: 2.25vmax;
                    height: 100%;
                    margin-bottom: .5vmax;
                }
                .contact_outer {
                    border: none;
                    .contact_inner {
                        width: 100%!important;
                        .svg-container {
                            width: 1rem;
                            margin-right: 1vmax;
                        }
                        p {
                            padding-left: 0;
                            font-size: 1.5vmax;
                        }
                    }
                }
                form {
                    width: 60%;
                    .form_padding {
                        width: 100%;
                    }
                    .form-group {
                        label {
                            font-size: 1.5vmax;
                            color: $agro_color-white;
                            margin: 0;
                            &[for="question"] {
                                text-align: start;
                                margin-bottom: 1vmax;
                            }
                        }
                        .form-control {
                            margin-bottom: 0;
                            font-size: 1.5vmax;
                        }
                        textarea {
                            height: 8vmax;
                            border: 0.2vmax solid $agro_color-white;
                        }
                    }
                    button {
                        border-radius: 1rem;
                        padding: .5vmax 3.5vmax;
                        margin: 0;
                        height: 100%;
                        font-weight: 700;
                        line-height: 100%;
                        font-size: 1.25vmax;
                    }
                }
            }
        }
    }
    @media(max-width:576px) {
        padding: 0;
    }
}

footer {
    @media (max-width: 992px) {
        background-color: $agro_color-white;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $agro_color-1;
                    &:hover,
                    &:active,
                    &:focus {
                        color: $agro_color-1;
                    }
                }
            }
        }
        path {
            fill: $agro_color-1 !important;
        }
    }
}