@import "./variables";
@import "./fonts";
@import "./footer";
* {
    letter-spacing: 0.015em;
    line-height: 127.1%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background: $agro_color-white;
    font-family: "Hind Madurai";
    color: $agro_color-black;
}

header {
    overflow: visible;
    .navbar {
        align-items: flex-end;
        padding-bottom: 3vmax;
        min-height: 20vmin;
        color: $agro_color-black;
        &.bg_agro-light {
            background: $agro_color-white;
        }
        .navbar-brand {
            margin: 0 2.75vw;
            img {
                max-width: 6.1vmax;
            }
        }
        .nav-item {
            margin: 0 1vw;
            padding: 0;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            white-space: nowrap;
            .nav-link {
                font-family: "Alegreya Sans SC";
                font-size: 1.5vmax;
                color: $agro_color-black;
                &:hover,
                &:active,
                &:focus {
                    color: $agro_color-1;
                }
            }
            @media (max-width: 1300px) {
                margin: 0 1vw;
            }
            @media (max-width: 1200px) {
                margin: 0 2vw;
                &:last-child {
                    margin-right: 5vw;
                }
            }
        }
        .form-inline {
            width: 13vmax;
            min-width: 10rem;
            input {
                border: 1px solid $agro_color-black;
                border-radius: 1.87rem;
                padding: 1.25vmax 2.5vmax 1.25vmax 0.8vmax;
                height: 1.75rem;
                width: 100%;
                max-width: 12rem;
            }
            button {
                right: 0.73rem;
            }
        }
        .navbar-toggler {
            border: none;
            &:focus {
                outline: none;
            }
        }
        @media (max-width: 992px) {
            min-height: 12.5vmax;
            .navbar-brand {
                margin: 0;
                img {
                    max-width: 4vmax;
                }
            }
            .nav-item {
                margin: 0;
            }
        }
    }
}