@import './variables';
@import './fonts';
#launching {
    position: relative;
    .launching_image {
        height: 30vw;
        width: 64vw;
        background-size: cover!important;
        background-position: center!important;
        border-bottom-right-radius: .56rem;
    }
    .circle_container {
        position: absolute;
        z-index: -1;
        height: 55vw;
        top: -7vw;
        left: 25vw;
        svg {
            height: 100%;
        }
    }
    .launching_text {
        font-family: "Abhaya Libre Bold";
        margin: 5vw 0 5vw 5vw;
        #welcome_label {
            line-height: 127.1%;
            letter-spacing: 0.015em;
            font-size: 12vw;
        }
        #to_agrevo_news_label {
            line-height: 127.1%;
            letter-spacing: 0.015em;
            margin-left: 20vw;
            font-size: 6vw;
        }
    }
    @media (orientation:portrait) {
        .launching_image {
            height: 36vw;
            width: 76.8vw;
        }
        .circle_container {
            height: 66vw;
            top: -8.4vw;
            left: 30vw;
            svg {
                height: 100%;
            }
        }
        .launching_text {
            margin: 6vw 0 6vw 6vw;
            #welcome_label {
                line-height: 127.1%;
                letter-spacing: 0.015em;
                font-size: 14.4vw;
            }
            #to_agrevo_news_label {
                line-height: 127.1%;
                letter-spacing: 0.015em;
                margin-left: 24vw;
                font-size: 7.2vw;
            }
        }
    }
    @media (orientation:landscape) {
        min-height: 100vh;
    }
}

.section_title {
    font-family: "Abhaya Libre Bold";
    height: 20vh;
    h2 {
        font-size: 1.5rem;
        height: 1.8rem;
        text-align: center;
        width: 10rem;
        border-bottom: .2rem solid $agro_color-2;
        margin: 8vh 0 3rem 0;
        @media (min-width: 1200px) {
            font-size: 3rem;
            height: 3.6rem;
            width: 20rem;
            margin: 0 0 6rem 0;
        }
    }
}

.most_recent {
    margin-bottom: 3.5rem;
    padding: 0 1vw;
    .article_card {
        // border: 1px solid rgba($agro_color-black, 0.54);
        box-sizing: border-box;
        // overflow: hidden;
        height: 80vh;
        .card_background_image {
            height: 100%!important;
            max-height: 50vh!important;
            width: 100%!important;
            background-size: cover!important;
            background-position: center!important;
        }
        .post_info {
            min-height: 10rem;
            height: 20vh;
            padding: .5rem;
            width: 100%;
            h1 {
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 1rem;
                line-height: 127.1%;
                letter-spacing: 0.015em;
                margin-bottom: .5rem;
            }
            .post_info_sub {
                img {
                    width: .75rem;
                }
                p {
                    margin: 0 0 0 .5rem;
                    font-family: "Open Sans";
                    font-size: .75rem;
                    line-height: 127.1%;
                    letter-spacing: 0.015em;
                    height: auto;
                }
            }
            .btn {
                background-color: $agro_color-gray-2;
                border-radius: 1rem;
                color: $agro_color-white;
                font-family: "Open Sans";
                font-weight: 600;
                font-size: 1rem;
                line-height: .3rem;
                letter-spacing: 0.015em;
                width: 10rem;
                height: 1.2rem;
                margin: .5rem 0;
                text-transform: lowercase;
            }
        }
    }
    @media (orientation: landscape) {
        .section_title {
            height: 15vh;
        }
        .related_story_card {
            height: 85vh;
            .card_background_image {
                max-height: 50vh!important;
            }
        }
    }
    @media (min-width: 576px) {
        padding: 0 calc(10vw - 1rem);
    }
    @media (min-width: 768px) {
        padding: 0 10vw;
    }
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
        margin-bottom: 7rem;
        padding: 0 16vw;
        .highlighted {
            .article_card {
                height: 110vh;
                min-height: 33rem;
                .card_background_image {
                    min-height: 70vh!important;
                }
                .post_info {
                    min-height: 20rem;
                    padding: 1rem;
                    h1 {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }
                    .post_info_sub {
                        img {
                            width: 1.2rem;
                        }
                        p {
                            margin: 0 0 0 1rem;
                            font-size: 1.2rem;
                        }
                    }
                    .btn {
                        font-size: 1.5rem;
                        line-height: .6rem;
                        width: 12.5rem;
                        height: 1.5rem;
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}

.pagination {
    display: inline-flex;
    border: 1px solid $agro_color-gray-6;
    border-radius: 3px;
    height: 1.75rem;
    overflow: hidden;
    a {
        color: $agro_color-gray-6;
        &:hover,
        &:focus {
            color: $agro_color-white;
            background: $agro_color-1;
        }
    }
    .page_square {
        display: block;
        border-right: 1px solid $agro_color-gray-6;
        height: 100%;
        width: 2rem;
        max-width: 10vw;
        line-height: 200%;
        text-align: center;
        font-size: .9rem;
    }
    .first_page,
    .last_page {
        display: flex;
        background: $agro_color-gray-5;
        flex-grow: 1;
        width: 2.3rem;
        max-width: 15vw;
        align-items: center;
        height: 100%;
        svg {
            width: 1rem;
            max-width: 10vw;
        }
    }
    .first_page {
        justify-content: end;
        border-right: 1px solid $agro_color-gray-6;
    }
}

.most_viewed {
    margin-bottom: 3.5rem;
    padding: 0 1vw;
    .rank {
        display: none;
        position: absolute;
        top: 0;
        left: -4rem;
        height: 4rem;
        width: 4rem;
        background-color: $agro_color-gray-2;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans Bold";
        font-size: 2.2rem;
        line-height: 127.1%;
        letter-spacing: 0.015em;
    }
    .related_story_card {
        border: 3px solid rgba($agro_color-black, 0.54);
        box-sizing: border-box;
        overflow: hidden;
        height: 14rem;
        margin-bottom: 3.5vw;
        .post_info {
            padding: .5rem;
            width: calc(100vw - 40vw - 2vw); //full screen width minus image minus card padding
            .outer {
                height: 4.8rem;
                margin-bottom: 1.5vw;
                h1 {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 127.1%;
                    letter-spacing: 0.015em;
                    margin: 0;
                }
            }
            .post_info_sub {
                // margin-bottom: .5rem;
                img {
                    width: .8rem;
                }
                p {
                    margin: 1.3vh;
                    font-family: "Open Sans";
                    font-size: .7rem;
                    line-height: 127.1%;
                    letter-spacing: 0.015em;
                }
            }
            .btn {
                background-color: $agro_color-gray-2;
                border-radius: 1rem;
                color: $agro_color-white;
                font-family: "Open Sans";
                font-weight: 600;
                font-size: .9rem;
                line-height: .3rem;
                letter-spacing: 0.015em;
                width: 6rem;
                height: 1.2rem;
                text-transform: lowercase;
            }
        }
        .card_background_image {
            height: 100%!important;
            width: 40rem!important;
            max-width: 40vw!important;
            background-size: cover!important;
            background-position: center!important;
        }
    }
    @media (min-width: 576px) {
        padding: 0 calc(10vw - 1rem);
        .outer {
            height: 7rem;
        }
        .post_info_sub {
            margin-bottom: .5rem;
        }
    }
    @media (min-width: 768px) {
        padding: 0 10vw;
        .rank {
            display: flex;
        }
    }
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
        margin-bottom: 7rem;
        padding: 0 16vw;
        .section_title {
            height: auto;
            h2 {
                font-size: 3rem;
                height: 3.6rem;
                width: 20rem;
                margin-bottom: 3.5rem;
            }
        }
        .related_story_card {
            height: 20rem;
            .post_info {
                padding: 2rem;
                width: calc(100vw - 27rem - 32vw); //full screen width minus image minus card padding
                .outer {
                    max-height: 15rem;
                    h1 {
                        font-size: 1.7rem;
                    }
                }
                .post_info_sub {
                    margin-bottom: 1rem;
                    p {
                        margin: 0 .75rem;
                        font-size: 1.125rem;
                    }
                }
                .btn {
                    font-size: 1.5rem;
                    line-height: .75rem;
                    width: 13rem;
                    height: 1.75rem;
                    margin: 2rem 0;
                }
            }
            .card_background_image {
                height: 100%!important;
                width: 27rem!important;
                max-width: 40vw!important;
                background-size: cover!important;
                background-position: center!important;
            }
        }
    }
}