@import './variables';
@import './fonts';
@import './post_preview1';
h2 {
    font-family: "Open Sans Bold";
    font-size: 4.5rem;
}

.post_header {
    min-height: calc(50vh - 13.7rem); //full-screen minus navbar height
    .section_title {
        margin: 1rem;
        h2 {
            font-size: 1.2rem;
            height: 1.8rem;
            text-align: center;
            width: 6.5rem;
            border-bottom: .2rem solid $agro_color-2;
            margin-bottom: 2rem;
        }
    }
    .post_info {
        margin-bottom: 3rem;
        h1 {
            font-family: 'Open Sans Bold';
            font-size: 1.2rem;
            line-height: 127.1%;
            letter-spacing: 0.015em;
            margin-bottom: 1rem;
        }
        .post_info_sub {
            margin-bottom: 1rem;
            img {
                width: 1rem;
            }
            p {
                margin: 0 .75rem;
                font-family: "Open Sans";
                font-size: .75rem;
                line-height: 127.1%;
                letter-spacing: 0.015em;
            }
        }
    }
    @media (min-width:576px) {
        padding: 0 2rem;
        .section_title {
            margin: 1.5rem;
            h2 {
                font-size: 2.25rem;
                height: 3rem;
                width: 9rem;
                margin-bottom: 1rem;
            }
        }
        .post_info {
            margin-bottom: 1.5rem;
            h1 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }
            .post_info_sub {
                margin-bottom: .5rem;
                p {
                    margin: 0 .75rem;
                    font-size: .9rem;
                }
            }
        }
    }
    @media (min-width: 768px) {
        padding: 0 2.5rem;
    }
    @media (min-width: 992px) {
        padding: 0 3rem;
    }
    @media (min-width: 1200px) {
        padding: 0 4rem;
        min-height: calc(100vh - 13.7rem);
        .section_title {
            margin: 3rem;
            h2 {
                font-size: 4.5rem;
                height: 6rem;
                width: 18rem;
                margin-bottom: 2rem;
            }
        }
        .post_info {
            margin-bottom: 3rem;
            h1 {
                font-size: 3.2vw;
                margin-bottom: 2rem;
            }
            .post_info_sub {
                margin-bottom: 1rem;
                img {
                    width: 1.5rem;
                }
                p {
                    margin: 0 .75rem;
                    font-size: 1.125rem;
                }
            }
        }
    }
}

.blog_post {
    background: $agro_color-white;
    margin-bottom: 5rem;
    // padding: 2rem 1rem;
    .img_container {
        position: relative;
        height: 50vh;
        width: 100%;
        overflow: hidden;
        margin: 4vw 0;
        img {
            position: absolute;
            top: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            height: 50vh;
        }
    }
    p {
        text-align: justify;
        font-size: .9rem;
        margin-bottom: .8vw;
    }
    @media (min-width: 576px) {
        padding: 0 2rem 2rem;
    }
    @media (min-width: 768px) {
        padding: 0 2.5rem 2.5rem;
    }
    @media (min-width: 992px) {
        padding: 0 3rem 3rem;
    }
    @media (min-width: 1200px) {
        padding: 0 4rem 4rem;
        .img_container {
            height: 100vh;
            img {
                height: 100vh;
            }
        }
        p {
            text-align: justify;
            font-size: 1.3rem;
        }
    }
}