.related_posts {
  margin-bottom: 3.5rem;
  padding: 0 1vw;
}

.related_posts h1 {
  font-family: 'Open Sans Bold';
  font-size: 1.2rem;
  line-height: 127.1%;
  letter-spacing: 0.015em;
  margin-bottom: 1rem;
}

.related_posts .related_story_card {
  border: 1px solid rgba(0, 0, 0, 0.54);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 14rem;
  margin-bottom: 3.5vw;
}

.related_posts .related_story_card .post_info {
  padding: .5rem;
  width: calc(100vw - 40vw - 2vw);
}

.related_posts .related_story_card .post_info .outer {
  height: 4.8rem;
  margin-bottom: 1.5vw;
}

.related_posts .related_story_card .post_info .outer h1 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1rem;
  line-height: 127.1%;
  letter-spacing: 0.015em;
  margin: 0;
}

.related_posts .related_story_card .post_info .post_info_sub img {
  width: .8rem;
}

.related_posts .related_story_card .post_info .post_info_sub p {
  margin: 1.3vh;
  font-family: "Open Sans";
  font-size: .7rem;
  line-height: 127.1%;
  letter-spacing: 0.015em;
}

.related_posts .related_story_card .post_info .btn {
  background-color: #C4C4C4;
  border-radius: 1rem;
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: .9rem;
  line-height: .3rem;
  letter-spacing: 0.015em;
  width: 6rem;
  height: 1.2rem;
  text-transform: lowercase;
}

.related_posts .related_story_card .card_background_image {
  height: 100% !important;
  width: 40rem !important;
  max-width: 40vw !important;
  background-size: cover !important;
  background-position: center !important;
}

@media (min-width: 576px) {
  .related_posts {
    padding: 0 calc(10vw - 1rem);
  }
  .related_posts .outer {
    height: 7rem;
  }
  .related_posts .post_info_sub {
    margin-bottom: .5rem;
  }
}

@media (min-width: 768px) {
  .related_posts {
    padding: 0 10vw;
  }
}

@media (min-width: 1200px) {
  .related_posts {
    margin-bottom: 7rem;
    padding: 0 16vw;
  }
  .related_posts h1.section_title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .related_posts .related_story_card {
    height: 20rem;
  }
  .related_posts .related_story_card .post_info {
    padding: 2rem;
    width: calc(100vw - 27rem - 32vw);
  }
  .related_posts .related_story_card .post_info .outer {
    max-height: 15rem;
  }
  .related_posts .related_story_card .post_info .outer h1 {
    font-size: 1.7rem;
  }
  .related_posts .related_story_card .post_info .post_info_sub {
    margin-bottom: 1rem;
  }
  .related_posts .related_story_card .post_info .post_info_sub p {
    margin: 0 .75rem;
    font-size: 1.125rem;
  }
  .related_posts .related_story_card .post_info .btn {
    font-size: 1.5rem;
    line-height: .75rem;
    width: 13rem;
    height: 1.75rem;
    margin: 2rem 0;
  }
  .related_posts .related_story_card .card_background_image {
    height: 100% !important;
    width: 27rem !important;
    max-width: 40vw !important;
    background-size: cover !important;
    background-position: center !important;
  }
}

.related_posts {
  min-height: calc(100vh - 3.7rem - 19.75vmax);
}
/*# sourceMappingURL=search_result.css.map */