$agro_color-1: #1F6633;
$agro_color-2: #1f6c34;
$agro_color-3: #EDDDB4;
$agro_color-black: #000;
$agro_color-gray-1: #7E7B7B;
$agro_color-gray-2: #C4C4C4;
$agro_color-gray-3: #DADADA;
$agro_color-gray-4: #E5E5E5;
$agro_color-gray-5: #EBEBEB;
$agro_color-gray-6: #DEDEDE;
$agro_color-white: #FFF;