@charset "UTF-8";
@font-face {
  font-family: "Abhaya Libre";
  src: url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-regular.woff") format("woff"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Abhaya Libre Bold";
  src: url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-800.woff2") format("woff2"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-800.woff") format("woff"), url("../fonts/abhaya-libre-v5-sinhala_latin-ext_latin-800.ttf") format("ttf");
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: url("../fonts/alegreya-sans-sc-v9-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/alegreya-sans-sc-v9-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/alegreya-sans-sc-v9-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Allerta Stencil";
  src: url("../fonts/allerta-stencil-v10-latin-regular.woff2") format("woff2"), url("../fonts/allerta-stencil-v10-latin-regular.woff") format("woff"), url("../fonts/allerta-stencil-v10-latin-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Hind Madurai";
  src: url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-regular.woff") format("woff"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Hind Madurai Bold";
  src: url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-600.woff2") format("woff2"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-600.woff") format("woff"), url("../fonts/hind-madurai-v5-tamil_latin-ext_latin-600.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-regular.woff2") format("woff2"), url("../fonts/opensans-all-regular.woff") format("woff"), url("../fonts/opensans-all-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensans-all-700.woff2") format("woff2"), url("../fonts/opensans-all-700.woff") format("woff"), url("../fonts/opensans-all-700.ttf") format("ttf");
}

h2 {
  font-family: "Open Sans Bold";
  font-size: 4.5rem;
}

#launching {
  height: 100vh;
  background: #1F6633;
}

#launching .launching_content {
  color: #FFF;
  text-align: center;
  padding: 0 3vw;
  min-width: 55vw;
}

#launching .launching_content h1 {
  font-family: "Allerta Stencil";
  font-size: 10.5vw;
  max-width: 60%;
  text-align: start;
  text-transform: uppercase;
}

#launching .launching_content h2 {
  font-family: "Open Sans Bold";
  width: 100%;
  font-size: 5vw;
  text-align: start;
  font-weight: 700;
  text-transform: lowercase;
}

#launching .img_container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 45vw;
  overflow: hidden;
}

#launching .img_container img {
  position: absolute;
  right: 0;
  height: 100vh;
}

@media (max-width: 1350px) {
  #launching .launching_content h1 {
    font-size: 9.5vw;
  }
}

@media (max-width: 1200px) {
  #launching .launching_content h1 {
    font-size: 9vw;
  }
}

@media (max-width: 992px) {
  #launching {
    height: 50vh;
  }
  #launching .launching_content h1 {
    font-size: 10vw;
  }
  #launching .img_container {
    height: 50vh;
  }
  #launching .img_container img {
    height: 100%;
  }
}

#welcome {
  height: 75vh;
}

#welcome .welcome_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#welcome .welcome_content h2 {
  font-family: "Open Sans Bold";
  font-size: 4.5rem;
  width: 24.7rem;
  text-align: center;
  border-bottom: 0.2rem solid #1f6c34;
}

#welcome .welcome_content p {
  padding: 3.3rem;
  font-family: "Hind Madurai";
  font-size: 2.25rem;
  width: 60vw;
  text-align: center;
}

@media (max-width: 992px) {
  #welcome {
    min-height: 50vh;
  }
  #welcome .welcome_content h2 {
    font-size: 3.5rem;
    width: 16rem;
  }
  #welcome .welcome_content p {
    padding: 2rem;
    font-size: 2rem;
    width: 80vw;
  }
}

@media (max-width: 768px) {
  #welcome .welcome_content h2 {
    font-size: 2.5rem;
    width: 13rem;
  }
  #welcome .welcome_content p {
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 80vw;
  }
}

#about_us {
  min-height: 65.1rem;
  overflow: hidden;
  position: relative;
}

#about_us .about_us-left .background_image {
  height: 62.6rem;
  margin-top: 2.5rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#about_us .about_us-right {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#about_us .about_us-right .upper {
  padding: 0 1.5rem;
}

#about_us .about_us-right .upper h2 {
  height: 8.5rem;
  width: 24rem;
  margin-bottom: 2.3rem;
  border-bottom: 0.2rem solid #1f6c34;
}

#about_us .about_us-right .upper p,
#about_us .about_us-right .upper li {
  font-size: 1.57rem;
  letter-spacing: 0.015em;
  list-style-type: none;
  position: relative;
}

#about_us .about_us-right .upper li::before {
  content: '・';
  position: absolute;
  left: -2rem;
  top: .2rem;
  font-size: 2rem;
}

#about_us .about_us-right .lower img {
  position: absolute;
  bottom: 0;
  height: 30vw;
  max-width: 90%;
}

@media (min-width: 992px) {
  #about_us .about_us-right {
    background-image: none !important;
  }
}

@media (max-width: 992px) {
  #about_us .about_us-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about_us .about_us-right .upper {
    background: rgba(255, 255, 255, 0.71);
    margin: auto 1.5rem;
    padding: 5rem;
  }
  #about_us .about_us-right .upper h2 {
    height: 6.5rem;
    width: 60%;
    white-space: nowrap;
    border-bottom: 0.2rem solid #1f6c34;
  }
}

@media (max-width: 768px) {
  #about_us .about_us-right .upper {
    margin: auto 1.5rem;
    padding: 2.5rem;
  }
  #about_us .about_us-right .upper h2 {
    font-size: 2.5rem;
    height: 3rem;
    width: 50%;
    margin-bottom: 2rem;
    border-bottom: 0.2rem solid #1f6c34;
  }
  #about_us .about_us-right .upper p,
  #about_us .about_us-right .upper li {
    font-size: 1.25rem;
    font-family: Hind Madurai;
    font-weight: 500;
    line-height: 127.1%;
    /* or 15px */
    letter-spacing: 0.015em;
  }
}

@media (max-width: 576px) {
  #about_us .about_us-right .upper {
    margin: auto 1.5rem;
    padding: 2.5rem;
  }
  #about_us .about_us-right .upper h2 {
    font-size: 1.75rem;
    height: 2.5rem;
    width: 50%;
    margin-bottom: 1.5rem;
    border-bottom: 0.2rem solid #1f6c34;
  }
  #about_us .about_us-right .upper p,
  #about_us .about_us-right .upper li {
    font-size: .75rem;
    font-family: Hind Madurai;
    font-weight: 500;
    line-height: 127.1%;
    /* or 15px */
    letter-spacing: 0.015em;
  }
  #about_us .about_us-right .upper li::before {
    left: -1.5rem;
    top: .15rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  #about_us {
    min-height: 100vh;
  }
}

#vision {
  padding-top: 13.3rem;
}

#vision .upper img {
  width: 48.25rem;
  height: 30.5rem;
}

#vision .upper .title {
  width: 100%;
  margin-left: 2rem;
  margin-right: 8.6rem;
}

#vision .upper .title h2 {
  height: 6.5rem;
  width: 100%;
  text-align: right;
  border-bottom: 0.2rem solid #1f6c34;
}

#vision .lower {
  margin-bottom: 3rem;
}

#vision .lower .lower_pic img {
  max-width: 100%;
}

#vision .lower .vision_content {
  padding: 4rem;
  min-width: 48.25rem;
  font-size: 1.75rem;
  font-family: "Hind Madurai Bold";
  line-height: 127.1%;
  letter-spacing: 0.015em;
}

@media (max-width: 1200px) {
  #vision .upper {
    position: relative;
  }
  #vision .upper img {
    width: 100%;
    height: auto;
  }
  #vision .upper .title {
    position: absolute;
    top: -9rem;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 40%;
    margin: 0;
  }
  #vision .upper .title h2 {
    height: 6.5rem;
    width: 100%;
    text-align: center;
    border-bottom: 0.2rem solid #1f6c34;
  }
}

@media (max-width: 768px) {
  #vision .upper .title {
    top: -8rem;
  }
  #vision .upper .title h2 {
    font-size: 4rem;
    height: 5.5rem;
  }
  #vision .lower {
    margin-bottom: 3rem;
  }
  #vision .lower .vision_content {
    padding: 2rem;
    min-width: 0;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  #vision .upper .title {
    top: -6rem;
  }
  #vision .upper .title h2 {
    font-size: 3rem;
    height: 4rem;
  }
  #vision .lower {
    margin-bottom: 10rem;
  }
  #vision .lower .vision_content {
    padding: 1rem;
    min-width: 0;
    font-size: 1rem;
  }
}

@media (max-width: 576px) and (orientation: portrait) {
  #vision {
    padding-top: 8rem;
    min-height: 100vh;
  }
}

#news h2 {
  height: 6.5rem;
  text-align: center;
  width: 40vw;
  min-width: 9.3rem;
  border-bottom: 0.2rem solid #1f6c34;
  margin-bottom: 4.5rem;
}

#news .col_spacing {
  padding: 3rem;
}

#news .col_spacing .card {
  height: 48.75rem;
  border: 2px solid #000;
  overflow: hidden;
  position: relative;
}

#news .col_spacing .card .tag {
  text-align: center;
  width: 50%;
  background: #1F6633;
  padding: 1rem;
  z-index: 2;
}

#news .col_spacing .card .tag p {
  color: #FFF;
  font-family: "Alegreya Sans SC";
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  margin: 0;
}

#news .col_spacing .card .card-img-top {
  height: 100%;
  background: #1F6633;
}

#news .col_spacing .card .card-img-top img {
  height: 75%;
  min-width: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#news .col_spacing .card .card-body {
  background-color: #FFF;
  position: absolute;
  width: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 25%;
  z-index: 1;
}

#news .col_spacing .card .card-text {
  position: absolute;
  bottom: 10%;
  font-family: "Open Sans Bold";
  margin: 1.2rem;
  font-size: 1.3rem;
  line-height: 127.1%;
  text-align: center;
  letter-spacing: 0.015em;
  z-index: 1;
}

#news .col_spacing .card .btn {
  position: absolute;
  bottom: 1.5rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #C4C4C4;
  border-radius: 1rem;
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: .75rem;
  letter-spacing: 0.015em;
  width: 13rem;
  height: 1.75rem;
  text-transform: lowercase;
  z-index: 1;
}

#news .btn_more .btn {
  margin-top: 5.9rem;
  margin-bottom: 8.25rem;
  background-color: #C4C4C4;
  border-radius: 1rem;
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: .75rem;
  letter-spacing: 0.015em;
  width: 13rem;
  height: 1.75rem;
  text-transform: lowercase;
}

@media (max-width: 1200px) {
  #news .col_spacing .card {
    background: transparent;
  }
  #news .col_spacing .card .card-text {
    bottom: 7%;
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  #news .card_background_image {
    background: none;
  }
}

@media (max-width: 992px) {
  #news {
    background: #1F6633;
    padding: 0;
    max-width: unset;
  }
  #news .title {
    background: #FFF;
  }
  #news .title h2 {
    height: 7.5vw;
    width: 10vw;
    text-align: center;
    min-width: 9.3rem;
    border-bottom: 0.2rem solid #1f6c34;
    margin-bottom: 4.5vw;
    font-size: 5vw;
  }
  #news .row {
    padding: 0;
  }
  #news .row .col_spacing {
    padding: 0;
  }
  #news .row .col_spacing .card_background_image {
    height: 100vh !important;
    min-height: 20rem;
    width: 100% !important;
    padding: 10vh 10vw;
    background-size: cover !important;
    background-position: center !important;
  }
  #news .row .col_spacing .card_background_image .card {
    height: 80vh;
    border: 0.2rem solid #FFF;
  }
  #news .row .col_spacing .card_background_image .card .tag {
    max-height: 10vh;
    min-height: 8vw;
    padding: .75rem;
  }
  #news .row .col_spacing .card_background_image .card .tag p {
    font-size: 5vw;
  }
  #news .row .col_spacing .card_background_image .card .card-body {
    background: transparent;
  }
  #news .row .col_spacing .card_background_image .card .card-text {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    bottom: 30%;
    margin: 0 30% 0 5%;
    text-align: start;
    letter-spacing: 0.015em;
  }
  #news .row .col_spacing .card_background_image .card .btn {
    bottom: 10%;
  }
  #news .btn_more {
    background: #FFF;
  }
  #news .btn_more .btn {
    margin: 3rem;
  }
}

#technology {
  background-image: url("../img/technology.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 2.5rem;
}

#technology .technology_content {
  background: rgba(255, 255, 255, 0.87);
  width: 50%;
  padding: 3rem;
}

#technology .technology_content h2 {
  height: 7vw;
  text-align: center;
  font-size: 5vw;
  width: 80%;
  min-width: 9.3rem;
  border-bottom: 0.2rem solid #1f6c34;
  margin-bottom: 2.5rem;
}

#technology .technology_content p {
  font-family: "Hind Madurai";
  font-size: 1rem;
  line-height: 168.6%;
  text-align: center;
  letter-spacing: 0.055em;
}

@media (max-width: 1200px) {
  #technology .technology_content {
    padding: 2.5rem;
    width: 67%;
  }
  #technology .technology_content h2 {
    font-size: 3rem;
    height: 4.5rem;
    width: 60%;
    min-width: 9.3rem;
    margin-bottom: 1.5rem;
  }
  #technology .technology_content p {
    font-size: 1rem;
    line-height: 168.6%;
    letter-spacing: 0.055em;
  }
}

@media (max-width: 992px) {
  #technology .technology_content {
    padding: 2.5rem;
    width: 80%;
  }
  #technology .technology_content h2 {
    font-size: 2rem;
    height: 3rem;
    width: 60%;
    min-width: 9.3rem;
    margin-bottom: 1.5rem;
  }
  #technology .technology_content p {
    font-size: .75rem;
    line-height: 168.6%;
    letter-spacing: 0.055em;
  }
}

@media (max-width: 768px) {
  #technology {
    min-height: 45rem;
    height: 100vh;
    position: relative;
    background-position: center bottom;
    padding: 0;
  }
  #technology .technology_content {
    position: absolute;
    top: 0;
    background: #FFF;
    width: 100%;
    overflow: hidden;
    min-height: 50vh;
    max-height: 100%;
    padding: 1rem 2rem;
  }
  #technology .technology_content h2 {
    height: 2.5rem;
    width: 12rem;
    margin-bottom: .75rem;
    font-size: 1.5rem;
    line-height: 127.1%;
    letter-spacing: 0.015em;
  }
  #technology .technology_content p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 159.6%;
    letter-spacing: 0.025em;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #technology .technology_content {
    background: rgba(255, 255, 255, 0.87);
  }
}

@media (max-width: 575px) {
  #technology .technology_content {
    padding: 1rem 1rem;
  }
  #technology .technology_content p {
    text-align: justify;
    font-size: .85rem;
  }
}

#contact {
  padding: 8.7rem 0 13.8rem 0;
}

#contact .left_image {
  position: relative;
  margin: 2.5rem 0;
}

#contact .left_image img {
  position: absolute;
  left: 0;
  width: 57vw;
  max-width: 48.25rem;
}

#contact .contact_content h2 {
  height: 7rem;
  width: 28rem;
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid #1f6c34;
  white-space: nowrap;
}

#contact .contact_content .col-1 {
  padding: 0;
}

#contact .contact_content .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

#contact .contact_content .svg-container .svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 992px) {
  #contact .contact_content .svg-container .svg-content path {
    fill: #7E7B7B;
  }
}

#contact .contact_content p {
  font-family: "Hind Madurai";
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 126.6%;
  letter-spacing: 0.015em;
  margin-bottom: 3rem;
  padding-left: .7rem;
}

#contact .contact_content form {
  width: 28rem;
}

#contact .contact_content form .form-group label {
  font-family: "Open Sans Bold";
  font-size: .75rem;
  line-height: 127.1%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #7E7B7B;
}

#contact .contact_content form .form-group .form-control {
  margin-bottom: 3rem;
}

#contact .contact_content form .form-group .form-control[name="name"], #contact .contact_content form .form-group .form-control[name="email"] {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #7E7B7B;
}

#contact .contact_content form .form-group textarea {
  height: 8rem;
  resize: none;
  margin-top: 1rem;
  border: 1px solid #7E7B7B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

#contact .contact_content form button {
  font-family: "Open Sans Bold";
  color: #FFF;
  background: #C4C4C4;
  border-radius: .375rem;
  width: 50%;
  height: 2.6rem;
  font-weight: 100;
  font-size: 2.25rem;
  line-height: .75rem;
  letter-spacing: 0.015em;
  text-transform: lowercase;
}

#contact .social {
  padding: 10rem 0 0 7rem;
}

#contact .social a {
  margin-bottom: 6rem;
}

#contact .social a img {
  height: 2rem;
}

@media (max-width: 1200px) {
  #contact .contact_content h2 {
    height: 5rem;
    font-size: 3.5rem;
    width: 22rem;
    margin-bottom: 1.5rem;
  }
  #contact .contact_content p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #contact .contact_content form {
    width: 22rem;
  }
  #contact .contact_content form .form-group .form-control {
    margin-bottom: 1.5rem;
  }
  #contact .contact_content form .form-group textarea {
    margin-top: .5rem;
  }
  #contact .contact_content form button {
    height: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  #contact {
    margin-top: 2.8rem;
    padding: 3rem;
    background-color: #1F6633;
    color: #FFF;
  }
  #contact .contact_content h2 {
    color: #EDDDB4;
    height: 7rem;
    margin-bottom: 0;
    border-bottom: none;
  }
  #contact .contact_content .col-1 {
    padding-left: 1rem;
  }
  #contact .contact_content p {
    font-size: 1.75rem;
    line-height: 126.6%;
    margin-bottom: 3rem;
  }
  #contact .contact_content form {
    width: 70%;
  }
  #contact .contact_content form .form-group label {
    font-size: 1rem;
    color: #FFF;
  }
  #contact .contact_content form .form-group .form-control {
    background: transparent;
    color: #FFF;
  }
  #contact .contact_content form .form-group .form-control[name="name"], #contact .contact_content form .form-group .form-control[name="email"] {
    border-bottom: 0.2rem solid #FFF;
  }
  #contact .contact_content form .form-group textarea {
    border: 0.2rem solid #FFF;
  }
  #contact .contact_content form button {
    height: 2.6rem;
    font-size: 2.25rem;
  }
}

@media (max-width: 992px) and (orientation: portrait) {
  #contact {
    min-height: 100vh;
    padding: 2vh;
  }
  #contact .contact_content h2 {
    height: 8vh;
    font-size: 5vh;
  }
  #contact .contact_content .col-1 {
    padding-left: 2.5vh;
  }
  #contact .contact_content p {
    margin-bottom: 4vh;
    font-size: 2.5vh;
  }
  #contact .contact_content form {
    width: 70%;
  }
  #contact .contact_content form .form-group label {
    font-size: 2vh;
    color: #FFF;
  }
  #contact .contact_content form .form-group .form-control {
    margin-bottom: 0;
  }
  #contact .contact_content form .form-group textarea {
    height: 15vh;
    border: 0.2rem solid #FFF;
  }
  #contact .contact_content form button {
    height: 3.5vh;
    font-size: 2.5vh;
  }
  #contact .social {
    padding: 3.5rem 0 0 3rem;
  }
  #contact .social a {
    margin-bottom: 3rem;
  }
  #contact .social a img {
    height: 2rem;
  }
}

@media (max-width: 576px) {
  #contact {
    min-height: 100vh;
    padding: 2vh;
  }
  #contact .contact_content h2 {
    height: 8vh;
    font-size: 5vh;
  }
  #contact .contact_content .col-1 {
    padding-left: 1.5vh;
  }
  #contact .contact_content p {
    margin-bottom: 4vh;
    padding-left: 0;
    font-size: 2.5vh;
  }
  #contact .contact_content form {
    width: 80%;
  }
  #contact .contact_content form .form-group label {
    font-size: 2vh;
    color: #FFF;
  }
  #contact .contact_content form .form-group .form-control {
    margin-bottom: 0;
  }
  #contact .contact_content form .form-group textarea {
    height: 15vh;
    border: 0.2rem solid #FFF;
  }
  #contact .contact_content form button {
    height: 3.5vh;
    min-height: 1.5rem;
    font-size: 2.5vh;
  }
  #contact .social {
    padding: 3.5rem 0 0 1rem;
  }
  #contact .social a {
    margin-bottom: 3rem;
  }
  #contact .social a img {
    height: 2rem;
  }
}

@media (max-width: 992px) {
  footer {
    background-color: #FFF;
  }
  footer .navbar-nav .nav-item .nav-link {
    color: #1F6633;
  }
  footer .navbar-nav .nav-item .nav-link:hover, footer .navbar-nav .nav-item .nav-link:active, footer .navbar-nav .nav-item .nav-link:focus {
    color: #1F6633;
  }
  footer path {
    fill: #1F6633 !important;
  }
}
/*# sourceMappingURL=index.css.map */